<!DOCTYPE html>
<html lang="en">
    <body class="masthead">
		<div class="ui container" style="padding-top: 17%">
			<div class="ui four column middle center aligned grid">
				<div class="sixteen wide mobile eight wide tablet four wide computer column">
					<h1 style="font-size: 100px;">404</h1>
					<h1>
						this project is free and available  
						<a 
						href="https://github.com/ViniciusAg/ProgramacaoFeriasVerao2020/tree/jojoPhpProject">
							here
						</a>
					</h1>
				</div>
			</div>
		</div>
	</body>
</html>