<div class="ui container" style="padding-top: 33vh">
	<div class="ui four column middle center aligned grid">
		<div class="eleven wide mobile eight wide tablet four wide computer column">
			<form class="ui form" id="FormView" name="FormView" method="POST">
				<div class="field">
					<div class="ui large icon input">
						<input 
							type="text" 
							name="EmailUsuario" 
							id="EmailUsuario"
						placeholder="Email">
					</div>
				</div>
				<div class="field">
					<div class="ui large icon input">
						<input 
							type="password" 
							name="SenhaUsuario" 
							id="SenhaUsuario"
						placeholder="Senha">
					</div>
				</div>
				<div class="field">
					<a 
						class="ui large purple button"
					onclick="register();">
						Novo
					</a>
					<button 
						class="ui large purple button" 
					type="submit">
						Entrar
					</button>
				</div>
				<input type="hidden" name="getNewRegister" id="getNewRegister" value="false">
			</form>
		</div>
	</div>
</div>

<script>
	function register(){
		$( "#getNewRegister" ).val( "true" );
       	$( "#FormView" ).submit();
    }

	function loginWithUserTest(){
		$( "#EmailUsuario" ).val( "email@email.com" );
		$( "#SenhaUsuario" ).val( "123" );
	}	////	loginWithUserTest();
</script>