<div class="ui container" style="padding-top: 33vh">
	<div class="ui four column middle center aligned grid">
		<div class="eight wide mobile eight wide tablet four wide computer column">
			<form class="ui form" id="FormView" name="FormView" method="POST">
				<div class="field">
					<div class="ui large icon input">
						<input 
							type="text" 
							name="loginUser" 
						placeholder="Login">
					</div>
				</div>
				<div class="field">
					<div class="ui large icon input">
						<input 
							type="password" 
							name="loginPass" 
						placeholder="Senha">
					</div>
				</div>
				<div class="field">
					<a 
						class="ui large purple button"
					onclick="register();">
						Novo
					</a>
					<button 
						class="ui large purple button" 
					type="submit">
						Entrar
					</button>
				</div>
				<input type="hidden" name="getNewRegister" id="getNewRegister" value="false">
			</form>
		</div>
	</div>
</div>

<script>
	function register(){
		$( "#getNewRegister" ).val( "true" );
       	$( "#FormView" ).submit();
    }
</script>