<!DOCTYPE html>
<html lang="en">
    <body class="masthead">
		<div class="ui container" style="padding-top: 3%">
			<div class="ui four column middle center aligned grid">
				<div class="sixteen wide mobile eight wide tablet eight wide computer column">
					<form class="ui form" method="POST">
						<table class="ui purple celled table">
							<thead>
								<tr>
									<th>Turma {{MNEMONICO_TURMA}}</th>
								</tr>
							</thead>
							<tbody>
								{{MNEMONICO_LISTAGEM}}
							</tbody>
						</table>				  
					    <button class="ui large purple button" type="submit">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>