<div class="ui container" style="padding-top: 1vh">
	<div class="ui one column middle center aligned grid">

		{{MNEMONICO_ICON_VOLTAR}}

		<div class="twelve wide mobile teen wide tablet eight wide computer column">
			<form class="ui form" id="FormView" name="FormView" method="POST">

				<div class="field">
					<label class="titulo-medio">Nome Completo</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="NomeCompleto"
							id="NomeCompleto" 
							maxlength="80" 
						placeholder="Nome Completo">
					</div>
				</div>	<!-- NOME COMPLETO -->

				<div class="field">
					<label class="titulo-medio">CPF</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="CPF"
							id="CPF"
						placeholder="CPF">
					</div>
				</div>	<!-- CPF -->

				<div class="field">
					<label class="titulo-medio">Data de Nascimento</label>
					<div class="ui calendar" id="CalendarioDataNascimento">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<input 
								type="text"
								name="DataNascimento"
								id="DataNascimento" 
							placeholder="DD/MM/AAAA">
						</div>
					</div>
				</div>	<!-- DATA NASCIMENTO -->

				<div id="selectEtnia" class="field">
					<label class="titulo-medio">Como você se considera etnicamente?</label>
					<select 
						class="ui fluid search dropdown" 
						name="UsuarioEtnia"
					id="UsuarioEtnia">

						{{MNEMONICO_SELECT_ETNIA}}

					</select>
				</div>	<!-- SELECT ETNIA -->

				<div id="selectGenero" class="field">
					<label class="titulo-medio">Gênero</label>
					<select 
						class="ui fluid search dropdown" 
						name="UsuarioGenero"
					id="UsuarioGenero">

						{{MNEMONICO_SELECT_GENERO}}

					</select>
				</div>	<!-- SELECT GENERO -->

				<div class="field">
					<label class="titulo-medio">WhatsApp</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="UsuarioTelefone"
							id="UsuarioTelefone" 
						placeholder="(99) 9 9999-9999">
					</div>
				</div>	<!-- CPF -->

				<div id="selectEscolaridade" class="field">
					<label class="titulo-medio">Escolaridade</label>
					<select 
						class="ui fluid search dropdown" 
						name="UsuarioEscolaridade"
					id="UsuarioEscolaridade">

						{{MNEMONICO_SELECT_ESCOLARIDADE}}

					</select>
				</div>	<!-- SELECT ESCOLARIDADE -->

				<div class="field">
					<label class="titulo-medio">CEP</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="CEP"
							id="CEP" 
							onchange="getEndereco( $( this ).val() );" 
						placeholder="CEP">
					</div>
				</div>	<!-- CEP -->

				<div class="field">
					<label class="titulo-medio">Logradouro</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="Logradouro"
							id="Logradouro" 
						placeholder="Logradouro">
					</div>
				</div>	<!-- LOGRADOURO -->

				<div class="field">
					<label class="titulo-medio">Número</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="Numero"
							id="Numero" 
						placeholder="Número">
					</div>
				</div>	<!-- NUMERO -->

				<div class="field">
					<label class="titulo-medio">Complemento</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="Complemento"
							id="Complemento" 
						placeholder="Complemento">
					</div>
				</div>	<!-- COMPLEMENTO -->

				<div class="field">
					<label class="titulo-medio">Bairro</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="Bairro"
							id="Bairro" 
						placeholder="Bairro">
					</div>
				</div>	<!-- BAIRRO -->

				<div class="field">
					<label class="titulo-medio">Cidade</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="Cidade"
							id="Cidade" 
						placeholder="Cidade">
					</div>
				</div>	<!-- CIDADE -->

				<div class="field">
					<label class="titulo-medio">E-mail</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="EmailAdress"
							id="EmailAdress" 
						placeholder="Endereço E-mail">
					</div>
				</div>	<!-- ENDEREÇO EMAIL -->

				<div class="field">
					<label class="titulo-medio">Tipo de Cadastro</label>
					<select 
						class="ui dropdown" 
						name="TipoUsuario"
						onchange="checkNewUserType();" 
					id="TipoUsuario">

						{{MNEMONICO_SELECT_USER_TYPE}}

					</select>
				</div>	<!-- TIPO USUARIO -->

				<div id="SelectDisciplina" class="field hide">
					<label class="titulo-medio">Dou aula de...</label>
					<select 
						class="ui fluid search dropdown" 
						name="Disciplinas[]"
						id="Disciplinas" 
					multiple="">

						{{MNEMONICO_SELECT_DISCIPLINA}}

					</select>
				</div>	<!-- DISCIPLINAS -->

				<div class="field hide" id="InputEscEnsinoMedio">
					<label class="titulo-medio">Escola onde estuda ou estudou</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="EscolaEnsinoMedio"
							id="EscolaEnsinoMedio" 
						placeholder="Escola Formação Ensino Médio">
					</div>
				</div>	<!-- CIDADE -->

				<div class="field">
					<label class="titulo-medio">Senha</label>
					<div class="ui large icon input">
						<input 
							type="password" 
							name="UserPassword"
							id="UserPassword" 
						placeholder="Senha">
					</div>
				</div>	<!-- SENHA -->

				<div class="field">
					<label class="titulo-medio">Confirmação Senha</label>
					<div class="ui large icon input">
						<input 
							type="password" 
							name="ReUserPassword"
							id="ReUserPassword" 
						placeholder="Confirmação Senha">
					</div>
				</div>	<!-- CONFIRMACAO SENHA -->

				<a 
					class="ui large purple button" 
					onclick="validaForm();">
					Enviar
				</a>

				<input 
					type="hidden" 
					name="CurrentView" 
					id="CurrentView" 
				value="RegisterView">

				<input 
					type="hidden" 
					name="NewRegisterForm" 
					id="NewRegisterForm" 
				value="false">
			</form>
		</div>
	</div>
</div>

<script>

	function postNewUserRegister(){
		// window.alert( "agora eu estaria gravando um novo usuario" );
		$( "#NewRegisterForm" ).val( "true" );
		$( "#FormView" ).submit();
	}

	function appendMessageInputVazio( sNomeCampo, sMensagemErro ){
		if ( (sMensagemErro == "") )
			sMensagemErro += ("Campo " + sNomeCampo + " deve ser preenchido.");
		else
			sMensagemErro += ("\nCampo " + sNomeCampo + " deve ser preenchido.");
		return sMensagemErro;
	}

	function formatDate( sDate ) {

		var aDate = sDate.split( "/" );

		var day = aDate[0];
		var year = aDate[2];
		var month = aDate[1];

	    return [year, month, day].join('-');
	}

	function validaForm(){
		var sNomeCompleto 	= $( "#NomeCompleto" ).val().toUpperCase();
		var sCPF 			= $( "#CPF" ).val();
		var sDataNascimento = $( "#DataNascimento" ).val();
		var sEtnia 			= $( "#UsuarioEtnia" ).val();
		var sGenero 		= $( "#UsuarioGenero" ).val();
		var sUserTelefone	= $( "#UsuarioTelefone" ).val();
		var sEscolaridade 	= $( "#UsuarioEscolaridade" ).val();
		var sCEP 			= $( "#CEP" ).val();
		var sLogradouro 	= $( "#Logradouro" ).val();
		var sNumero 		= $( "#Numero" ).val();
		var sComplemento 	= $( "#Complemento" ).val();
		var sBairro 		= $( "#Bairro" ).val();
		var sCidade 		= $( "#Cidade" ).val();
		var sEmailAdress 	= $( "#EmailAdress" ).val();
		var sTipoUsuario 	= $( "#TipoUsuario" ).val();
		var sDisciplinas 	= $( "#Disciplinas" ).val();
		var sEscEnsinoMedio = $( "#EscolaEnsinoMedio" ).val();

		var sMensagemErro = "";

		var sUserPassword 	= $( "#UserPassword" ).val();
		sUserPassword = md5( sUserPassword );
		var sReUserPassword = $( "#ReUserPassword" ).val();
		sReUserPassword = md5( sReUserPassword );

		if ( (sNomeCompleto == "") || (sNomeCompleto == null) )
			sMensagemErro = appendMessageInputVazio( "NOME COMPLETO", sMensagemErro );
		if ( (sCPF == "") || (sCPF == null) )
			sMensagemErro = appendMessageInputVazio( "CPF", sMensagemErro );
		if ( (sDataNascimento == "") || (sDataNascimento == null) )
			sMensagemErro = appendMessageInputVazio( "DATA NASCIMENTO", sMensagemErro );
		if ( (sEtnia == "") || (sEtnia == null) )
			sMensagemErro = appendMessageInputVazio( "ETNIA", sMensagemErro );
		if ( (sGenero == "") || (sGenero == null) )
			sMensagemErro = appendMessageInputVazio( "GÊNERO", sMensagemErro );
		if ( (sUserTelefone == "") || (sUserTelefone == null) )
			sMensagemErro = appendMessageInputVazio( "WHATSAPP", sMensagemErro );
		if ( (sEscolaridade == "") || (sEscolaridade == null) )
			sMensagemErro = appendMessageInputVazio( "ESCOLARIDADE", sMensagemErro );

		if ( (sCEP == "") || (sCEP == null) )
			sMensagemErro = appendMessageInputVazio( "CEP", sMensagemErro );
		if ( (sLogradouro == "") || (sLogradouro == null) )
			sMensagemErro = appendMessageInputVazio( "LOGRADOURO", sMensagemErro );
		if ( (sNumero == "") || (sNumero == null) )
			sMensagemErro = appendMessageInputVazio( "NÚMERO", sMensagemErro );
		if ( (sBairro == "") || (sBairro == null) )
			sMensagemErro = appendMessageInputVazio( "BAIRRO", sMensagemErro );
		if ( (sCidade == "") || (sCidade == null) )
			sMensagemErro = appendMessageInputVazio( "CIDADE", sMensagemErro );

		if ( (sEmailAdress == "") || (sEmailAdress == null) )
			sMensagemErro = appendMessageInputVazio( "ENDEREÇO EMAIL", sMensagemErro );

		if ( (sTipoUsuario == "") || (sTipoUsuario == null) )
			sMensagemErro = appendMessageInputVazio( "TIPO DE CADASTRO", sMensagemErro );
		if ( (sTipoUsuario == "P") && ((sDisciplinas == "") || (sDisciplinas == null)) )
			sMensagemErro = appendMessageInputVazio( "DISCIPLINAS", sMensagemErro );
		if ( (sTipoUsuario == "A") && ((sEscEnsinoMedio == "") || (sEscEnsinoMedio == null)) )
			sMensagemErro = appendMessageInputVazio( "ESCOLA FORMAÇÃO ENSINO MÉDIO", sMensagemErro );

		var formPreenchido = (sMensagemErro == "");

		if ( ((sCPF != "") && (sCPF != null)) && (sCPF.length != 14)  )
			if ( formPreenchido )
				sMensagemErro += "\nFavor revisar o campo CPF.";

		if ( ((sCEP != "") && (sCEP != null)) && (sCEP.length != 9)  )
			if ( formPreenchido )
				sMensagemErro += "\nFavor revisar o campo CEP.";

		if ( sEmailAdress.indexOf( "@" ) == -1 )
			if ( formPreenchido )
				sMensagemErro += "\nFavor revisar o campo E-Mail.";

		if ( sUserPassword != sReUserPassword )
			if ( formPreenchido )
				sMensagemErro += "\nAs senhas não conferem.";

		if ( sMensagemErro != "" )
			window.alert( sMensagemErro );
		else
			postNewUserRegister();
	}

	function getEndereco( sCEP ){
		var url = ("https://viacep.com.br/ws/"  + sCEP +  "/json/");

		var oLograd = $( "#Logradouro" );
		var oBairro = $( "#Bairro" );
		var oCidade = $( "#Cidade" );

		$.get( url, function( data ){
			var oResponse = eval( data );
			oLograd.val( oResponse.logradouro );
			oBairro.val( oResponse.bairro );
			oCidade.val( oResponse.localidade );
		} );
	}

	function checkNewUserType(){
		var sCurrentUserType 	 = $("#TipoUsuario").val();
		var oSelectDisciplinas 	 = $( "#SelectDisciplina" );
		var oInputEscEnsinoMedio = $( "#InputEscEnsinoMedio" );

		if( sCurrentUserType == "P" ){
			oSelectDisciplinas.removeClass( "hide" );
			oInputEscEnsinoMedio.addClass( "hide" );
		}else{
			oSelectDisciplinas.addClass( "hide" );
			oInputEscEnsinoMedio.removeClass( "hide" );
		}
	}

	$( "#Numero" ).mask( "99999999" );
	$( "#CEP" ).mask( "99999-999" );
	$( "#CPF" ).mask( "999.999.999-99" );
	$( "#UsuarioTelefone" ).mask( "(99) 9 9999-9999" );

	$( "#DataNascimento" ).mask( "99/99/9999" );

	$( "#CalendarioDataNascimento" ).calendar( {
		type: "date",
		monthFirst: false,
		formatter: {
			type: "date",
			date: function (date, settings) {
				if (!date) return '';
				var day = date.getDate();
				day = ("00" + day).slice( -2 );
				var month = date.getMonth() + 1;
				month = ("00" + month).slice( -2 );
				var year = date.getFullYear();
				return day + '/' + month + '/' + year;
			}
		}
	} );

</script>