<div class="ui container" style="padding-top: 1vh">
	<div class="ui one column middle center aligned grid">

		{{MNEMONICO_ICON_VOLTAR}}

		<div class="twelve wide mobile teen wide tablet eight wide computer column">
			<form class="ui form" id="FormView" name="FormView" method="POST">

				<div class="field">
					<label class="titulo-medio">Nome Completo</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							class="caixa-alta"
							name="NomeCompleto"
							id="NomeCompleto" 
							maxlength="80" 
							onchange="formatToUpperCase( this );" 
						placeholder="Nome Completo">
					</div>
				</div>	<!-- NOME COMPLETO -->

				<div class="field">
					<label class="titulo-medio">CPF</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="CPF"
							id="CPF"
						placeholder="CPF">
					</div>
				</div>	<!-- CPF -->

				<div class="field">
					<label class="titulo-medio">Data de Nascimento</label>
					<div class="ui calendar" id="CalendarioDataNascimento">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<input 
								type="text"
								name="DataNascimento"
								id="DataNascimento" 
							placeholder="Para alterar ano clicar nele">
						</div>
					</div>
				</div>	<!-- DATA NASCIMENTO -->

				<div id="selectEtnia" class="field">
					<label class="titulo-medio">Como você se considera etnicamente?</label>
					<select 
						class="ui fluid search dropdown" 
						name="UsuarioEtnia"
					id="UsuarioEtnia">

						{{MNEMONICO_SELECT_ETNIA}}

					</select>
				</div>	<!-- SELECT ETNIA -->

				<div id="selectGenero" class="field">
					<label class="titulo-medio">Gênero</label>
					<select 
						class="ui fluid search dropdown" 
						name="UsuarioGenero"
					id="UsuarioGenero">

						{{MNEMONICO_SELECT_GENERO}}

					</select>
				</div>	<!-- SELECT GENERO -->

				<div class="field">
					<label class="titulo-medio">WhatsApp</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="UsuarioTelefone"
							id="UsuarioTelefone" 
						placeholder="(99) 9 9999-9999">
					</div>
				</div>	<!-- WHATSAPP -->

				<div id="selectEscolaridade" class="field">
					<label class="titulo-medio">Escolaridade</label>
					<select 
						class="ui fluid search dropdown" 
						name="UsuarioEscolaridade"
					id="UsuarioEscolaridade">

						{{MNEMONICO_SELECT_ESCOLARIDADE}}

					</select>
				</div>	<!-- SELECT ESCOLARIDADE -->

				<div class="field">
					<label class="titulo-medio">CEP</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="CEP"
							id="CEP" 
							onchange="getEndereco( $( this ).val() );" 
						placeholder="CEP">
					</div>
				</div>	<!-- CEP -->

				<div class="field">
					<label class="titulo-medio">Logradouro</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							class="caixa-alta"
							name="Logradouro"
							id="Logradouro" 
							onchange="formatToUpperCase( this );" 
						placeholder="Logradouro">
					</div>
				</div>	<!-- LOGRADOURO -->

				<div class="field">
					<label class="titulo-medio">Número</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="Numero"
							id="Numero" 
						placeholder="Número">
					</div>
				</div>	<!-- NUMERO -->

				<div class="field">
					<label class="titulo-medio">Complemento</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							class="caixa-alta"
							name="Complemento"
							id="Complemento" 
							onchange="formatToUpperCase( this );"
						placeholder="Complemento">
					</div>
				</div>	<!-- COMPLEMENTO -->

				<div class="field">
					<label class="titulo-medio">Bairro</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							class="caixa-alta"
							name="Bairro"
							id="Bairro" 
							onchange="formatToUpperCase( this );"
						placeholder="Bairro">
					</div>
				</div>	<!-- BAIRRO -->

				<div class="field">
					<label class="titulo-medio">Cidade</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							class="caixa-alta"
							name="Cidade"
							id="Cidade" 
							onchange="formatToUpperCase( this );"
						placeholder="Cidade">
					</div>
				</div>	<!-- CIDADE -->

				<div class="field">
					<label class="titulo-medio">E-mail</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							class="caixa-baixa" 
							name="EmailAdress"
							id="EmailAdress" 
							onchange="checkEmailAdress( this );" 
						placeholder="Endereço E-mail">
					</div>
				</div>	<!-- ENDEREÇO EMAIL -->

				<div class="field">
					<label class="titulo-medio">Tipo de Cadastro</label>
					<select 
						class="ui dropdown" 
						name="TipoUsuario"
						onchange="checkNewUserType();" 
					id="TipoUsuario">

						{{MNEMONICO_SELECT_USER_TYPE}}

					</select>
				</div>	<!-- TIPO USUARIO -->

				<div id="SelectDisciplina" class="field hide">
					<label class="titulo-medio">Dou aula de...</label>
					<select 
						class="ui fluid search dropdown" 
						name="Disciplinas[]"
						id="Disciplinas" 
					multiple="">

						{{MNEMONICO_SELECT_DISCIPLINA}}

					</select>
				</div>	<!-- DISCIPLINAS -->

				<div class="field hide" id="InputEscEnsinoMedio">
					<label class="titulo-medio">Escola onde estuda ou estudou</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							class="caixa-alta"
							name="EscolaEnsinoMedio"
							id="EscolaEnsinoMedio" 
							onchange="formatToUpperCase( this );"
						placeholder="Escola Formação Ensino Médio">
					</div>
				</div>	<!-- ESCOLA ENSINO MEDIO -->

				<div class="field">
					<label class="titulo-medio">Senha</label>
					<div class="ui large icon input">
						<input 
							type="password" 
							name="UserPassword"
							id="UserPassword" 
						placeholder="Senha">
					</div>
				</div>	<!-- SENHA -->

				<div class="field">
					<label class="titulo-medio">Confirmação Senha</label>
					<div class="ui large icon input">
						<input 
							type="password" 
							name="ReUserPassword"
							id="ReUserPassword" 
						placeholder="Confirmação Senha">
					</div>
				</div>	<!-- CONFIRMACAO SENHA -->

				<a 
					class="ui big purple button" 
					onclick="validaForm();">
					Enviar
				</a>

				<input 
					type="hidden" 
					name="RequestFromAjax" 
					id="RequestFromAjax" 
				value="false">

				<input 
					type="hidden" 
					name="CurrentView" 
					id="CurrentView" 
				value="RegisterView">

				<input 
					type="hidden" 
					name="NewRegisterForm" 
					id="NewRegisterForm" 
				value="false">
			</form>
		</div>
	</div>
</div>

<script>

	function checkEmailAdress( input ){
		formatToLowerCase( input );
		var sAdress = $( input ).val().trim();
		var sAdressParam = ("&EmailAdress=" + sAdress);
		var sMethodParam = "&Method=CheckThisEmail";
		if ( sAdress != "" ){
			var url = "http://programacaoferiasverao2020/?RequestFromAjax=true";
			url = (url + sAdressParam);
			url = (url + sMethodParam);

			console.log( url );

			$.get( url, function( data ){
				var oResponse = JSON.parse( eval( data ) );
				console.log( ( oResponse ) );
				if ( !(oResponse.EmailValido) ){
					window.alert( "Email já cadastrado anteriormente." );
				}
			} );
		}
	}

	function formatToUpperCase( input ){
		var sUpperCased = $( input ).val().toUpperCase();
		sUpperCased = sUpperCased.replace(/"/g, "");
		sUpperCased = sUpperCased.replace(/'/g, "");
		$( input ).val( sUpperCased );
	}

	function formatToLowerCase( input ){
		var sUpperCased = $( input ).val().toLowerCase();
		sUpperCased = sUpperCased.replace(/"/g, "");
		sUpperCased = sUpperCased.replace(/'/g, "");
		$( input ).val( sUpperCased );
	}

	function appendMessageInputVazio( sNomeCampo, sMensagemErro ){
		if ( (sMensagemErro == "") )
			sMensagemErro += ("Campo " + sNomeCampo + " deve ser preenchido.");
		else
			sMensagemErro += ("\nCampo " + sNomeCampo + " deve ser preenchido.");
		return sMensagemErro;
	}

	function formatDate( sDate ) {

		var aDate = sDate.split( "/" );

		var day = aDate[0];
		var year = aDate[2];
		var month = aDate[1];

	    return [year, month, day].join('-');
	}

	function validaForm(){

		var sNomeCompleto 	= $( "#NomeCompleto" ).val().trim();
		var sCPF 			= $( "#CPF" ).val();
		var sDataNascimento = $( "#DataNascimento" ).val();
		var sEtnia 			= $( "#UsuarioEtnia" ).val();
		var sGenero 		= $( "#UsuarioGenero" ).val();
		var sUserTelefone	= $( "#UsuarioTelefone" ).val();
		var sEscolaridade 	= $( "#UsuarioEscolaridade" ).val();
		var sCEP 			= $( "#CEP" ).val();
		var sLogradouro 	= $( "#Logradouro" ).val().trim();
		var sNumero 		= $( "#Numero" ).val().trim();
		var sComplemento 	= $( "#Complemento" ).val().trim();
		var sBairro 		= $( "#Bairro" ).val().trim();
		var sCidade 		= $( "#Cidade" ).val().trim();
		var sEmailAdress 	= $( "#EmailAdress" ).val().trim();
		var sTipoUsuario 	= $( "#TipoUsuario" ).val();
		var sDisciplinas 	= $( "#Disciplinas" ).val();
		var sEscEnsinoMedio = $( "#EscolaEnsinoMedio" ).val().trim();
		var sUserPassword   = $( "#UserPassword" ).val().trim();
		var sReUserPassword = $( "#ReUserPassword" ).val().trim();

		var sMensagemErro = "";

		if ( (sNomeCompleto == "") || (sNomeCompleto == null) )
			sMensagemErro = appendMessageInputVazio( "NOME COMPLETO", sMensagemErro );
		if ( (sCPF == "") || (sCPF == null) )
			sMensagemErro = appendMessageInputVazio( "CPF", sMensagemErro );
		if ( (sDataNascimento == "") || (sDataNascimento == null) )
			sMensagemErro = appendMessageInputVazio( "DATA NASCIMENTO", sMensagemErro );
		if ( (sEtnia == "") || (sEtnia == null) )
			sMensagemErro = appendMessageInputVazio( "ETNIA", sMensagemErro );
		if ( (sGenero == "") || (sGenero == null) )
			sMensagemErro = appendMessageInputVazio( "GÊNERO", sMensagemErro );
		if ( (sUserTelefone == "") || (sUserTelefone == null) )
			sMensagemErro = appendMessageInputVazio( "WHATSAPP", sMensagemErro );
		if ( (sEscolaridade == "") || (sEscolaridade == null) )
			sMensagemErro = appendMessageInputVazio( "ESCOLARIDADE", sMensagemErro );

		if ( (sCEP == "") || (sCEP == null) )
			sMensagemErro = appendMessageInputVazio( "CEP", sMensagemErro );
		if ( (sLogradouro == "") || (sLogradouro == null) )
			sMensagemErro = appendMessageInputVazio( "LOGRADOURO", sMensagemErro );
		if ( (sNumero == "") || (sNumero == null) )
			sMensagemErro = appendMessageInputVazio( "NÚMERO", sMensagemErro );
		if ( (sBairro == "") || (sBairro == null) )
			sMensagemErro = appendMessageInputVazio( "BAIRRO", sMensagemErro );
		if ( (sCidade == "") || (sCidade == null) )
			sMensagemErro = appendMessageInputVazio( "CIDADE", sMensagemErro );

		if ( (sEmailAdress == "") || (sEmailAdress == null) )
			sMensagemErro = appendMessageInputVazio( "ENDEREÇO EMAIL", sMensagemErro );

		if ( (sTipoUsuario == "") || (sTipoUsuario == null) )
			sMensagemErro = appendMessageInputVazio( "TIPO DE CADASTRO", sMensagemErro );
		if ( (sTipoUsuario == "P") && ((sDisciplinas == "") || (sDisciplinas == null)) )
			sMensagemErro = appendMessageInputVazio( "DISCIPLINAS", sMensagemErro );
		if ( (sTipoUsuario == "A") && ((sEscEnsinoMedio == "") || (sEscEnsinoMedio == null)) )
			sMensagemErro = appendMessageInputVazio( "ESCOLA FORMAÇÃO ENSINO MÉDIO", sMensagemErro );

		if ( (sUserPassword == "") || (sUserPassword == null) )
			sMensagemErro = appendMessageInputVazio( "SENHA", sMensagemErro );

		sUserPassword   = md5( $( "#UserPassword" ).val().trim() );
		sReUserPassword = md5( $( "#ReUserPassword" ).val().trim() );

		var formPreenchido = (sMensagemErro == "");

		if ( ((sCPF != "") && (sCPF != null)) && (sCPF.length != 14)  )
			if ( formPreenchido )
				sMensagemErro += "\nFavor revisar o campo CPF.";

		if ( ((sCEP != "") && (sCEP != null)) && (sCEP.length != 9)  )
			if ( formPreenchido )
				sMensagemErro += "\nFavor revisar o campo CEP.";

		if ( sEmailAdress.indexOf( "@" ) == -1 )
			if ( formPreenchido )
				sMensagemErro += "\nFavor revisar o campo E-Mail.";

		if ( sUserPassword != sReUserPassword )
			if ( formPreenchido )
				sMensagemErro += "\nAs senhas não conferem.";

		if ( sMensagemErro != "" ){
			window.alert( sMensagemErro );
		}
		else{
			$( "#DataNascimento" ).val( formatDate( sDataNascimento ) );
			$( "#UserPassword" ).val( sUserPassword );
			$( "#ReUserPassword" ).val( sReUserPassword );
			$( "#NewRegisterForm" ).val( "true" );
			$( "#FormView" ).submit();
		}
	}

	function getEndereco( sCEP ){
		var url = ("https://viacep.com.br/ws/"  + sCEP +  "/json/");

		var oLograd = $( "#Logradouro" );
		var oBairro = $( "#Bairro" );
		var oCidade = $( "#Cidade" );

		$.get( url, function( data ){
			var oResponse = eval( data );
			oLograd.val( oResponse.logradouro.toUpperCase() );
			oBairro.val( oResponse.bairro.toUpperCase() );
			oCidade.val( oResponse.localidade.toUpperCase() );
		} );
	}

	function checkNewUserType(){
		var sCurrentUserType 	 = $("#TipoUsuario").val();
		var oSelectDisciplinas 	 = $( "#SelectDisciplina" );
		var oInputEscEnsinoMedio = $( "#InputEscEnsinoMedio" );

		if( sCurrentUserType == "7" ){
			oSelectDisciplinas.removeClass( "hide" );
			oInputEscEnsinoMedio.addClass( "hide" );
		}else{
			oSelectDisciplinas.addClass( "hide" );
			oInputEscEnsinoMedio.removeClass( "hide" );
		}
	}

	$( "#Numero" ).mask( "99999999" );
	$( "#CEP" ).mask( "99999-999" );
	$( "#CPF" ).mask( "999.999.999-99" );
	$( "#UsuarioTelefone" ).mask( "(99) 9 9999-9999" );

	$( "#DataNascimento" ).mask( "99/99/9999" );

	$( "#CalendarioDataNascimento" ).calendar( {
		type: "date",
		monthFirst: false,
		formatter: {
			type: "date",
			date: function (date, settings) {
				if (!date) return '';
				var day = date.getDate();
				day = ("00" + day).slice( -2 );
				var month = date.getMonth() + 1;
				month = ("00" + month).slice( -2 );
				var year = date.getFullYear();
				return day + '/' + month + '/' + year;
			}
		}
	} );

	function simulaFormPreenchido(){
		$( "#NomeCompleto" ).val( "JOAO TESTE" );
		$( "#CPF" ).val( "999.999.999-99" );
		$( "#DataNascimento" ).val( "01/01/1997" );
		$( "#UsuarioEtnia" ).val( 11 );
		$( "#UsuarioGenero" ).val( 13 );
		$( "#UsuarioTelefone" ).val( "(99) 9 9999-9999" );
		$( "#UsuarioEscolaridade" ).val( 17 );
		$( "#CEP" ).val( "99999-999" );
		$( "#Logradouro" ).val( "RUA TESTE" );
		$( "#Numero" ).val( 99 );
		$( "#Complemento" ).val( "APTO TESTE" );
		$( "#Bairro" ).val( "BAIRRO TESTE" );
		$( "#Cidade" ).val( "CIDADE TESTE" );
		$( "#EmailAdress" ).val( "email@email.com" );
		$( "#TipoUsuario" ).val( 7 );
		$( "#Disciplinas" ).val( [1, 2, 3 ] );
		$( "#EscolaEnsinoMedio" ).val( "EMEIEF" );
	}simulaFormPreenchido();

</script>