<div class="ui container" style="padding-top: 1vh">
	<div class="ui one column middle center aligned grid">

		{{MNEMONICO_ICON_VOLTAR}}

		<div class="twelve wide mobile sixteen wide tablet eight wide computer column">
			<form class="ui form" id="FormView" name="FormView" method="POST">

				<div class="field">
					<label class="titulo-medio">Nome Completo</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="NomeCompleto"
							id="NomeCompleto" 
						placeholder="Nome Completo">
					</div>
				</div>	<!-- NOME COMPLETO -->

				<div class="field">
					<label class="titulo-medio">CPF</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="CPF"
							id="CPF" 
						placeholder="CPF">
					</div>
				</div>	<!-- CPF -->

				<div class="field">
					<label class="titulo-medio">Data Nascimento</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="DataNascimento"
							id="DataNascimento" 
						placeholder="DD/MM/AA">
					</div>
				</div>	<!-- DATA NASCIMENTO -->

				<div id="selectEtnia" class="field">
					<label class="titulo-medio">Etnia</label>
					<select 
						class="ui fluid search dropdown" 
						name="UsuarioEtnia"
					id="UsuarioEtnia">

						{{MNEMONICO_SELECT_ETNIA}}

					</select>
				</div>	<!-- SELECT ETNIA -->

				<div id="selectGenero" class="field">
					<label class="titulo-medio">Gênero</label>
					<select 
						class="ui fluid search dropdown" 
						name="UsuarioGenero"
					id="UsuarioGenero">

						{{MNEMONICO_SELECT_GENERO}}

					</select>
				</div>	<!-- SELECT GENERO -->

				<div id="selectGenero" class="field">
					<label class="titulo-medio">Escolaridade</label>
					<select 
						class="ui fluid search dropdown" 
						name="UsuarioEscolaridade"
					id="UsuarioEscolaridade">

						{{MNEMONICO_SELECT_ESCOLARIDADE}}

					</select>
				</div>	<!-- SELECT ESCOLARIDADE -->

				<div class="field">
					<label class="titulo-medio">CEP</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="CEP"
							id="CEP" 
							onchange="getEndereco( $( this ).val() );" 
						placeholder="CEP">
					</div>
				</div>	<!-- CEP -->

				<div class="field">
					<label class="titulo-medio">Logradouro</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="Logradouro"
							id="Logradouro" 
						placeholder="Logradouro">
					</div>
				</div>	<!-- LOGRADOURO -->

				<div class="field">
					<label class="titulo-medio">Complemento</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="Complemento"
							id="Complemento" 
						placeholder="Complemento">
					</div>
				</div>	<!-- COMPLEMENTO -->

				<div class="field">
					<label class="titulo-medio">Bairro</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="Bairro"
							id="Bairro" 
						placeholder="Bairro">
					</div>
				</div>	<!-- BAIRRO -->

				<div class="field">
					<label class="titulo-medio">Cidade</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="Cidade"
							id="Cidade" 
						placeholder="Cidade">
					</div>
				</div>	<!-- CIDADE -->

				<div class="field">
					<label class="titulo-medio">E-mail</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="emailAdress"
							id="emailAdress" 
						placeholder="Endereço E-mail">
					</div>
				</div>	<!-- ENDEREÇO EMAIL -->

				<div class="field">
					<label class="titulo-medio">Tipo de Cadastro</label>
					<select 
						class="ui dropdown" 
						name="userType"
						onchange="checkNewUserType();" 
					id="userType">

						{{MNEMONICO_SELECT_USER_TYPE}}

					</select>
				</div>	<!-- TIPO USUARIO -->

				<div id="selectDisciplina" class="field hide">
					<label class="titulo-medio">Dou aula de...</label>
					<select 
						class="ui fluid search dropdown" 
						name="disciplina[]"
						id="disciplina" 
					multiple="">

						{{MNEMONICO_SELECT_DISCIPLINA}}

					</select>
				</div>	<!-- DISCIPLINAS -->

				<div class="field">
					<label class="titulo-medio">Escola Formação Ensino Médio</label>
					<div class="ui large icon input">
						<input 
							type="text" 
							name="EscolaEnsinoMedio"
							id="EscolaEnsinoMedio" 
						placeholder="Escola Formação Ensino Médio">
					</div>
				</div>	<!-- CIDADE -->

				<div class="field">
					<label class="titulo-medio">Senha</label>
					<div class="ui large icon input">
						<input 
							type="password" 
							name="newPassword"
							id="newPassword" 
						placeholder="Senha">
					</div>
				</div>	<!-- SENHA -->

				<div class="field">
					<label class="titulo-medio">Confirmação Senha</label>
					<div class="ui large icon input">
						<input 
							type="password" 
							name="reNewPassword"
							id="reNewPassword" 
						placeholder="Confirmação Senha">
					</div>
				</div>	<!-- CONFIRMACAO SENHA -->

				<a 
					class="ui large purple button" 
					onclick="validaForm();">
					Enviar
				</a>

				<input 
					type="hidden" 
					name="CurrentView" 
					id="CurrentView" 
				value="RegisterView">

				<input 
					type="hidden" 
					name="NewRegisterForm" 
					id="NewRegisterForm" 
				value="true">
			</form>
		</div>
	</div>
</div>

<script>

	function validaForm(){
		var sNomeCompleto = $( "#NomeCompleto" ).val().toUpperCase();

		window.alert( sNomeCompleto );
	}

	function getEndereco( sCEP ){
		var url = ("https://viacep.com.br/ws/"  + sCEP +  "/json/");

		var oLograd = $( "#Logradouro" );
		var oBairro = $( "#Bairro" );
		var oCidade = $( "#Cidade" );

		$.get( url, function( data ){
			var oResponse = eval( data );
			oLograd.val( oResponse.logradouro );
			oBairro.val( oResponse.bairro );
			oCidade.val( oResponse.localidade );
		} );
	}

	function checkNewUserType(){
		var sCurrentUserType = $("#userType").val();
		var oSelectDisciplinas = $( "#selectDisciplina" );
		if( sCurrentUserType == "P" )
			oSelectDisciplinas.removeClass( "hide" );
		else
			oSelectDisciplinas.addClass( "hide" );
	}

	$( "#CEP" ).mask( "99999-999" );
	$( "#CPF" ).mask( "999.999.999-99" );

	$( "#DataNascimento" ).mask( "99/99/99" );

</script>