<div class="ui container" style="padding-top: 3vh">

	{{MNEMONICO_ICON_LOGOUT}}

	<div class="ui one column middle center aligned grid">
		<div class="sixteen wide mobile eight wide tablet eight wide computer column">

			<h1>Olá, {{MNEMONICO_NOME_USUARIO}}!</h1>

			<h1>{{MNEMONICO_MENSAGEM_USUARIO_SEM_ACESSO}}</h1>

			<h1>Status da sua inscrição</h1>
			
			<h1 class="{{MNEMONICO_COR_STATUS_USUARIO}}">

				{{MNEMONICO_STATUS_USUARIO}}

			</h1>
			
		</div>
	</div>

	<form id="FormView" name="FormView" method="POST">

		{{MNEMONICO_INPUT_LOGOUT}}

	</form>
</div>

<script>
	function getNewStatus( oAluno ){
		if ( oAluno.hasClass( "em-aula" ) )
			oAluno.removeClass( "em-aula" );
		else
			oAluno.addClass( "em-aula" );
	}
</script>