<div class="ui container" style="padding-top: 3vh">

	{{MNEMONICO_ICON_LOGOUT}}

	<div class="ui one column middle center aligned grid">
		<div class="sixteen wide mobile eight wide tablet eight wide computer column">

			<div class="row">
				<table style="width: 100%;">
					<tbody>
						<tr>
							<td>
								<select class="ui fluid search dropdown" name="TurmaAtual" id="TurmaAtual">
									{{MNEMONICO_DISCIPLINA}}
								</select>
							</td>
							<td>
								<select 
									class="ui fluid search dropdown" 
									name="TurmaAtual" 
									id="TurmaAtual"
									onchange="getAlunosDessaTurma(this)">
									{{MNEMONICO_TURMA}}
								</select>
							</td>
							<td></td>
							<td><h1>{{MNEMONICO_AULA_ATUAL}} aula</h1></td>
						</tr>
					</tbody>
				</table>
			</div>

			<table class="ui pink celled table">
				<thead>
					<tr>
						<th>{{MNEMONICO_PROFESSOR_ATUAL}}</th>
					</tr>
				</thead>
				<tbody>
					{{MNEMONICO_LISTAGEM_ALUNOS}}
				</tbody>
			</table>				  
			<a 
				class="ui large purple button"
				onclick="setPresences();">
				Enviar
			</a>			
		</div>
	</div>
</div>

<form id="FormView" name="FormView" class="ui form" method="POST">
	{{MNEMONICO_INPUT_LOGOUT}}
	<input type="hidden" id="TurmaSelecionada" name="TurmaSelecionada" value="A">
</form>

<script>
	var aAlunosPresentes = [];

	function getAlunosDessaTurma(oElementoClicado){
		$("#TurmaSelecionada").val($(oElementoClicado).val());
		$("#FormView").submit();
	}

	function removeArrayItemAtPosition( aArray, iPosition ){
		var aNewArray = aArray
			.slice( 0, iPosition )
			.concat( aArray.slice( (iPosition + 1), aArray.length ) );
		return aNewArray;
	}	////	Function to remove a selected ALUNO

	function setPresences(){
		var sHost = "{{MNEMONICO_URL_HOST}}";
		var sProfessorAtual = "{{MNEMONICO_PROFESSOR_ATUAL}}";
		var sDisciplinaAtual = null;
		var sTurmaAtual = null
		var sMethodParam = "&Method=SetPresenceTo";
		var sAlunosPresentesParam = "";

		if ( aAlunosPresentes != [] ){
			for( var i = 0; i < aAlunosPresentes.length; i++ ){
				sAlunosPresentesParam += ("&AlunosPresentes[]=" + aAlunosPresentes[i]);
			}
		} var url = ("http://" + sHost + "/?RequestFromAjax=true" + sMethodParam + sAlunosPresentesParam);

		$.get( url, function ( data ) {
			var sResponse = eval( data );
			console.log( sResponse );
		} );
	}	////	Event Click at ENVIAR

	function getNewStatus( oAluno ){
		var iAlunoID = oAluno.attr( "id" );

		if ( oAluno.hasClass( "em-aula" ) ){
			aAlunosPresentes = removeArrayItemAtPosition( 
				aAlunosPresentes, 
				aAlunosPresentes.indexOf( iAlunoID )
			 ); oAluno.removeClass( "em-aula" );
		} else{
			aAlunosPresentes.push( iAlunoID );
			oAluno.addClass( "em-aula" );
		}
	}	////	Event Click at Aluno TR
</script>