<table class="ui striped celled selectable orange table">
	<thead>
		<tr>
			<th colspan="9">Usuários Aguardando Aprovação</th>
		</tr>
		<tr>
			<th>Nome Completo</th>
			<th>Data de Nascimento</th>
			<th>Ano de Matrícula</th>
			<th>Escolaridade</th>
			<th>Escola Ensino Médio</th>
			<th>E-mail</th>
			<th>WhatsApp</th>
			<th>Tipo de Usuário</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{MNEMONICO_TBODY_USUARIOS_SEM_ACESSO}}
	</tbody>
</table>

<table class="ui striped celled selectable red table">
	<thead>
		<tr>
			<th colspan="9">Usuários Inativos</th>
		</tr>
		<tr>
			<th>Nome Completo</th>
			<th>Data de Nascimento</th>
			<th>Ano de Matrícula</th>
			<th>Escolaridade</th>
			<th>Escola Ensino Médio</th>
			<th>E-mail</th>
			<th>WhatsApp</th>
			<th>Tipo de Usuário</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{MNEMONICO_TBODY_USUARIOS_INATIVOS}}
	</tbody>
</table>