<table class="ui striped celled selectable orange table">
	<thead>
		<tr>
			<th colspan="11">Usuários Aguardando Aprovação</th>
		</tr>
		<tr>
			<th>Nome</th>
			<th>Nascimento</th>
			<th>Ano</th>
			<th>Escolaridade</th>
			<th>Escola Ensino Médio</th>
			<th>E-mail</th>
			<th class="width35mm">WhatsApp</th>
			<th>Tipo</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{MNEMONICO_TBODY_USUARIOS_AGUARDANDO_APROVACAO}}
	</tbody>
</table>

<table class="ui striped celled selectable red table">
	<thead>
		<tr>
			<th colspan="11">Usuários Inativos</th>
		</tr>
		<tr>
			<th>Nome Completo</th>
			<th>Data de Nascimento</th>
			<th>Ano</th>
			<th>Escolaridade</th>
			<th>Escola Ensino Médio</th>
			<th>E-mail</th>
			<th class="width35mm">WhatsApp</th>
			<th>Tipo</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{MNEMONICO_TBODY_USUARIOS_INATIVOS}}
	</tbody>
</table>

<div id="ModalAtivaUsuario" class="ui basic modal">
	<div class="ui icon header">
		<h1>
			Deseja ativar o usuário 
			<b id="ModalAtivaUsuarioNomeUsuario"></b>?
		</h1>
	</div>
	<div class="content">
		<p>
			Esta ação irá dar a esse usuário o acesso ao painel de 
			<b id="ModalAtivaUsuarioTipoUsuario"></b>
		</p>
	</div>
	<div class="actions">
		<div 
			class="ui red basic cancel inverted button"
			onclick="$( '#IdUsuarioToActive' ).val( '' );">
			<i class="remove icon"></i>
			Cancelar
		</div>
		<div 
			class="ui green ok inverted button"
			onclick="ativaUsuario();">
			<i class="checkmark icon"></i>
			Ativar
		</div>
	</div>
</div>

<input id="IdUsuarioToActive" type="hidden" value="">

<script>
	function ativaUsuario(){
		var sIdUsuario = $( '#IdUsuarioToActive' ).val();
		var sUserIdParam = ("&UserID=" + sIdUsuario);
		var sMethodParam = "&Method=ActiveThisUser";
		var sHost = "{{MNEMONICO_URL_HOST}}";

		var url = ("http://" + sHost + "/?RequestFromAjax=true");
		url = (url + sUserIdParam);
		url = (url + sMethodParam);

		$.get( url, function( data ){
			var oResponse = JSON.parse( eval( data ) );

			var sNewRow = [];

			sNewRow.push( oResponse.nome );
			sNewRow.push( oResponse.data_nascimento );
			sNewRow.push( oResponse.etnia );
			sNewRow.push( oResponse.genero );
			sNewRow.push( oResponse.ano_matricula );
			sNewRow.push( oResponse.escolaridade );
			sNewRow.push( oResponse.escola_ensino_medio );
			sNewRow.push( oResponse.endereco );
			sNewRow.push( oResponse.email );
			sNewRow.push( oResponse.whatsapp );
			sNewRow.push( oResponse.tipo );

			if ( oResponse.status = "success" ){
				$( ("#TR" + sIdUsuario) ).addClass( "hide" );
				$( '#TableUsuariosAtivos' ).DataTable().row.add( sNewRow ).draw();
			} else if ( oResponse.status = "error" ){
				window.alert( "Oops... algo deu errado." );
			}
		} );
	}

	function showModalAtivaUsuario( sIdUsuario ){
		var oModalCampoNomeUsuario = $( "#ModalAtivaUsuarioNomeUsuario" );
		var oModalCampoTipoUsuario = $( "#ModalAtivaUsuarioTipoUsuario" );
		var sNomeUsuario = $( ("#NM"+sIdUsuario) ).text();
		var sTipoUsuario = $( ("#USR"+sIdUsuario) ).text();

		$( "#IdUsuarioToActive" ).val( sIdUsuario );

		oModalCampoNomeUsuario.text( sNomeUsuario );
		oModalCampoTipoUsuario.text( sTipoUsuario );

		$( "#ModalAtivaUsuario" ).modal('setting', 'closable', false).modal( "show" );
	}

	function setUsuarioAtivo( oUserToActive ){
		$("#tBodyUsuariosAtivos").prepend( $( ("#TR" + oUserToActive) ) );
		$( ("#TR" + oUserToActive) ).addClass( "hide" );
	}
</script>