<div class="ui container" style="padding-top: 3vh">
	
	{{MNEMONICO_ICON_LOGOUT}}

	<div class="ui one column middle center aligned grid">
		<div class="sixteen wide mobile eight wide tablet eight wide computer column">

			<form id="FormView" name="FormView" class="ui form" method="POST">
				<img style="display: block; margin-left: auto; margin-right: auto;" src="img/onibus_rosa_parks2.png" alt="">
				<h1>Oi!</h1>
				<p>Logo logo aqui você terá acesso à sua frequência e</p>
				<p>também vai poder estar por dentro de tudo o que está</p>
				<p>rolando no cursinho! Como eventos e a aula inalgural!</p>

				{{MNEMONICO_INPUT_LOGOUT}}

			</form>
			
		</div>
	</div>
</div>